body{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100px 100px 100px 100px 100px 100px;
    background: black;
}

div{
    min-width: 50px;
    width: 50px;
    min-height: 50px;
    height: 50px;
}

span{
    position: absolute;
    left:10px;
    top:10px;
}

#borderdiv{
    position: relative;
    min-height: 100%;
    min-width: 100%;
    border:2px solid gray;
    background: black;
}

/*########################################ONE#############################################*/
                                /*POSITION ABSOLUTE*/
#one{
    background: blue;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
/*##########################################TWO###########################################*/
                                        /*MARGIN CENTR*/
#two{
    background: red;
    margin-top:25px;
    margin-left:auto;
    margin-right:auto;
}



/*###########################################THREE##########################################*/
                                        /*FLEX CENTER*/
#borderdiv:nth-of-type(3) {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

#three{
    background: green;
}
/*#############################################FOUR########################################*/
                                    /*INLINE-BLOCK CENTER*/
#borderdiv:nth-of-type(4){
    text-align: center;
    display: block;
    position: relative;
    line-height: 450%;
}

#four {
    background: yellow;
    display: inline-block;
    vertical-align: bottom;
    font-size: 14px;
}

/*#############################################FIVE########################################*/
                                        /*GRID CENTR*/
#borderdiv:nth-of-type(5){
    display: grid;
}
#five{
    background: greenyellow;
    align-self:center;
    justify-self: center;
}
                               /*TABLE*/